root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true

[*.rst]
# reStructuredText requires visually-aligned indents in bulleted and numbered lists.
# This makes it impossible to use a single consistent indent size everywhere
# (let alone tabs).
# 2 spaces is the best compromise IMO,
# because it works everywhere except in numbered lists.
indent_style = space
indent_size = 2
